
@model MyForum.Web.MVC.Models.MainCategoriesViewModel

<ol class="breadcrumb">
    <li><a>@Html.ActionLink("Home", "Index", "Home")</a></li>
    <li class="active">@Model.Name</li>
</ol>

<div class="forum-head">
    <div class="forum-head-title">
        <div class="forum-head-links">@Model.Name</div>
    </div>
    <div class="forum-head-description">
        <p style="margin-left: 5px;">@Model.Description</p>
    </div>
</div>

@Html.Partial("_MainCategoryPartial", Model)
