@model MyForum.Web.MVC.Models.TopicViewModel

<div class="well forumrow">
    <div class="row">
        <div class="col-xs-6 col-md-7 col-lg-8">
            <div class="foruminfo">
                <img src="/Content/Images/forum_new-48.png" class="forumicon" id="forum_statusicon_2" alt=""/>
                <h4 class="titleline"> @Html.RouteLink(Model.Title, new {controller = "Topic", action = "Show", id = Model.Id})</h4>
            </div>
        </div>
        <div class="col-xs-6 col-md-5 col-lg-4 stats">
            <div class="col-xs-3 col-md-5 col-lg-4 forum-row-statistic hidden-xs">
                <p>Posts: @Model.PostsCount</p>
            </div>
            <div class="col-xs-9 col-md-7 col-lg-8 lastpost">
                @if (Model.PostsCount > 0)
                {
                    if (Model.LatestPost.Content.Length > 30)
                    {
                        <p>@Html.ActionLink(@Model.LatestPost.Content.Substring(0, 30) + "...", "Topics/" + Model.Id, "Topic")</p>
                    }
                    else
                    {
                        <p>@Html.ActionLink(@Model.LatestPost.Content, "Topic/" + Model.Id, "Topic")</p>
                    }

                    if (Model.LatestPost.Author.UserName.Length > 30)
                    {
                        <p>by: @Html.ActionLink(@Model.LatestPost.Author.UserName.Substring(0, 30) + "...", "Topic/" + Model.Id, "Topic")</p>
                    }
                    else
                    {
                        <p>by: @Html.ActionLink(@Model.LatestPost.Author.UserName, "Topic/" + Model.Id, "Topic")</p>
                    }
                    <p> @Model.LatestPost.CreatedOn.ToString("ddd dd MMM yyyy, hh:mm tt")</p>
                }
            </div>
        </div>
    </div>
</div>