
@model MyForum.Web.MVC.Models.TopicViewModel

<ol class="breadcrumb">
    <li><a>@Html.ActionLink("Home", "Index", "Home")</a></li>
    <li><a>@Html.RouteLink(@Model.TopicCategoryName, new { controller = "TopicCategory", action = "Show", id = Model.Id })</a></li>
    <li class="active">@Model.Title</li>
</ol>

<div class="forum-head-title">
    <p class="forum-head-links">@Model.Title</p>
</div>

<div>
    @foreach (var post in Model.Posts)
    {
        @Html.Partial("~/Views/Post/_PostPartial.cshtml", post)
    }

    <div>
        @if (User.Identity.IsAuthenticated)
        {

            @Html.Partial("~/Views/Topic/_InputPostMenu.cshtml")
        }
    </div>
</div>
